@font-face {
    font-family: "Agraham";
    src: url("/public/font/Italiana-Regular.ttf") format("truetype");
   }
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Kotta+One&display=swap');

.logo_ms {
    margin-left: 40%;
    max-width: 90px;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
  .h3footer{
    margin: 20px;
  }
  .h4footer{
    margin: 13px;
  }
  .icon {
    display: flex;
  }
  
  .logo__texte_ms{
    display: flex;
  }

.icon_facebook{
    padding-left: 15px;
}
.icon_instagram{
    padding-left: 15px;
}
.icon_twitter{
    padding-left: 15px;
    margin-top: 1%;
}
.icon_youtube{
    padding-left: 15px;
    margin-top: 1.2%;
}
footer{
    background-color: #eaeaea;
}
.pfooter{
    color: #0b0b0b;
}
.face2{
    width: 90%; 
}
.you2{
    width: 90%;
}
.twi2{
    width: 90%
}
.insta2{
    width: 90%
}