@import url('https://fonts.googleapis.com/css2?family=Abel&family=Kotta+One&display=swap');
img{
    width: 100%;
    margin: initial;
}
.imgpaulbrilvofb{
    width: 200%;
}
.h1title{
    margin-left: 35%;
}

body{
    background-color: #767676;
}
p{
    color: #ffffff;
    margin: 10px;
    font-family: 'Abel';
}
h1{
    color: #ffffff;
    font-family: 'Agraham';
}
h2{
    color: #ffffff;
}
.btn1{
    padding: 3px 23px;
    border-radius: 60px;
    display: inline-block;
    background-color: #EAEAEA;
    color: black;
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    margin-left: 30%;
    margin-bottom: 4%;
    font-family: 'Kotta One';
}
.btn2{
    padding: 3px 23px;
    border-radius: 60px;
    display: inline-block;
    background-color: #EAEAEA;
    color: black;
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    margin-left: 22%;
    margin-bottom: 4%;
    font-family: 'Kotta One';
}
.btn3{
    padding: 3px 23px;
    border-radius: 60px;
    display: inline-block;
    background-color: #EAEAEA;
    color: black;
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    margin-left: 35%;
    margin-bottom: 4%;
    font-family: 'Kotta One';
}

.page2{
    display: flex;
}
.desc{
    flex: 1;
}
.desc1{
    flex: 1;
}
.pfig{
    color: #EAEAEA;
    font-family: 'Kotta One';
}
