img{
    width: 150px;
    margin: 5px;
}
.imgpaulbrilvofb{
    height: 105px;
    margin-left: 56px;
}
.carsl_prt-img {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    margin: 0%; 
    }
.crsl_img {
    flex: none;
    width: 100%;
    scroll-snap-align: start;
    margin: 0%; 
    }
.crsl_prt-img figure {
    margin: 0%; 
    }

