@import url('https://fonts.googleapis.com/css2?family=Abel&family=Kotta+One&display=swap');
img{
    width: 150px;
    margin: 5px;
}
.imgpaulbrilvofb{
    height: 105px;
    width: 170px;
    margin-left: 36px;
}
.h1title{
    margin-left: 35%;
}

body{
    background-color: #767676;
}
p{
    color: #ffffff;
    margin: 10px;
    font-family: 'Abel';
}
h1{
    color: #ffffff;
    font-family: 'Agraham';
}
h2{
    color: #ffffff;
}
.btn1{
    padding: 3px 23px;
    border-radius: 60px;
    display: inline-block;
    background-color: #EAEAEA;
    color: black;
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    margin-left: 30%;
    margin-bottom: 4%;
}
.btn2{
    padding: 3px 23px;
    border-radius: 60px;
    display: inline-block;
    background-color: #EAEAEA;
    color: black;
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    margin-left: 22%;
    margin-bottom: 4%;
}
.btn3{
    padding: 3px 23px;
    border-radius: 60px;
    display: inline-block;
    background-color: #EAEAEA;
    color: black;
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    margin-left: 35%;
    margin-bottom: 4%;
}
.desc_Agos{
    width: 49%;
}
.desc_Bril{
    width: 49%;
}

.page2{
    display: flex;
}